body{
    background: rgb(126, 0, 175);
}
h1{
    font-size: 70px;
    color: rgb(0, 255, 242);
    text-align: center;
}
p{
    font-size: 20px;
    color: rgb(8, 255, 243);
    text-align: justify;
}
img 
  { width: 50%; 
    height: 30%;
    margin:30px; 
}
